<nav class="navbar navbar-expand-sm" style="background-color: #702c37;">

    <div class="container-fluid">
        <a class="navbar-brand text-light" href="/"> Yee Mon's Travel Journals</a>

        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/addJournal">Add Journal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/aboutme">About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="contactme">Contact me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>