<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Yee Mon's Travel Journals</title>
</head>

<body>

    <%- include ('partials/navbar.ejs') %>

    <div class="container-fluid text-dark" style="background-color: #F3EFDE;">

        <div class="container py-5">

            <div class="row gx-5 align-items-center mb-4">

                <div class="col-lg-6">
                    <h2 style="font-weight: 700;">About me</h2>
                    <p class=" mb-5" style="font-family:Arial, Helvetica, sans-serif; font-size:large;">
                        Hi there! I'm Yee Mon, a student from Diploma in Digital Design and Development at Republic Polytechnic, Singapore. Ever since I was a child, I've been captivated by the diversity of cultures and landscapes around the world.
                        My journey into travel began with family vacations, sparking a curiosity that has led me to explore countries far and wide.
                    </p>
                </div>

                <div class="col-lg-6">
                    <img src="https://images.pexels.com/photos/2087391/pexels-photo-2087391.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img rounded-circle" alt="firstImage">
                </div>

            </div>

            <br>

            <div class="row gx-5 align-items-center">

                <div class="col-lg-6">
                    <img src="https://images.pexels.com/photos/163185/old-retro-antique-vintage-163185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img rounded-circle" alt="secondImage">
                </div>

                <div class="col-lg-6 mt-5">
                    <p class="mb-5" style="font-family:Arial, Helvetica, sans-serif; font-size:large;">
                        This blog, "My Travel Journals," is a collection of my adventures and reflections from across the globe. 
                        Through my writing, I aim to share the beauty of different destinations, the stories of the people I meet, and the lessons learned along the way.
                    </p>

                    <p class="mb-5" style="font-family:Arial, Helvetica, sans-serif; font-size:large;">
                        Whether it's savoring street food in Bangkok, trekking through the lush jungles of Costa Rica, or marveling at ancient ruins in Greece, each experience has shaped my perspective and enriched my life.
                    </p>
                </div>
            </div>

            <br>

            <div class="row gx-5 align-items-center">

                <div class="col-lg-6">
                    <p class="mb-5" style="font-family:Arial, Helvetica, sans-serif; font-size:large;">
                        I believe in travel as a means of expanding our horizons, fostering understanding between cultures, and creating lifelong memories. 
                        From family vacation trips to spontaneous weekend getaways, every journey has taught me something new about myself and the world.
                    </p>

                    <p class="mb-5" style="font-family:Arial, Helvetica, sans-serif; font-size:large;">
                        Join me as I continue to explore and share the joys of travel. Let's embark on this adventure together and discover the beauty that awaits us in every corner of the globe!
                    </p>
                </div>

                <div class="col-lg-6">
                    <img src="https://images.pexels.com/photos/2114206/pexels-photo-2114206.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img rounded-circle" alt="thirdImage">
                </div>

            </div>

        </div>
    </div>

    <%- include ('partials/footer.ejs') %>


</body>
</html>